body {
    margin: 0;
    padding: 0;
}
 
.container {
    display: block;
    margin: 0px;
}
 
header {
    display: block;
    margin-right: 10%;
    text-align: center;
}
 
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    background-color: gray;
    text-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 10%;
}
 
#frontend {
    display: block;
    margin: 0 auto;
}

.graphics {
    width: calc(33.333% - (2 * 3% / 3));
    border-radius: 50%;
    border-width :15px;
    border: 15px solid #444444;
    width: 200px;
    margin-left: 20%;
    margin-right: 20%;
}

p {
    text-align: center;
    font-weight: bold;
    margin-right: 13%;
    font-size: 20px;
}